<<<<<<< HEAD
/* Header Start */
.header{
    padding: 40px 0;
}
.header__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo{
    margin-right: 60px;
}
.navbar{
    margin-left: auto;
}
.navbar.active{
    left: 0;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 60px;
}
.navbar li{
    display: flex;
    align-items: center;
    gap: 60px;
}
.navbar li a{
    color: #fff;
}

.header__hamburger {
    height: 32px;
    width: 43px;
    display: none;
    position: relative;
}

.header__hamburger span {
    display: block;
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    width: 100%;
    height: 4px;
    margin-top: -2px;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 2px;
}

.header__hamburger:before,
.header__hamburger:after {
    content: "";
    display: block;
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    transform-origin: center center;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    border-radius: 2px;
}

.header__hamburger:before {
    top: 2px;
    margin-top: -2px;
}

.header__hamburger:after {
    bottom: 2px;
    margin-bottom: -2px;
}


.header__hamburger.active span {
    background: transparent;
}

.header__hamburger.active:before {
    top: 50%;
    transform: rotate(45deg);
}

.header__hamburger.active:after {
    bottom: 50%;
    transform: rotate(-45deg);
}

.header__button{
    margin-left: 60px;
}
.header__button button{
    padding: 12px 30px;
}
.header__button button img{
    display: none;
}
/* Header End */

/* FirstScreen Start */
.first-screen{
    padding-bottom: 60px;
}
.first-screen__wrap{
    display: flex;
    align-items: center;
}
.first-screen__info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    flex-shrink: 0;
}
.first-screen__info h1{
    background: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
    font-weight: 700;
    font-size: 58px;
    line-height: 84px;
    letter-spacing: 0.02em;
}
.first-screen__info p{
    color: #E5E7EB;
}
.first-screen__buttons{
    display: flex;
    align-items: center;
    gap: 32px;
}
.first-screen__buttons .btn-primary{
    padding: 20px 40px;
}
.first-screen__image{
    width: 50%;
    user-select: none;
}
/*FirstScreen END*/

/* OUR-SERVICE START */
.our-service{
    padding: 60px 0;
}
.our-service__content h2{
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    margin-bottom: 30px;
}
.our-service__content p{
    text-align: center;
    margin-bottom: 40px;
}
.our-service__wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.our-service__card{
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
    padding: 30px 23px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}
.our-service__image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-service__title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-service__button{
    display: flex;
    justify-content: center;
}
/* OUR-SERVICE END */

/* Advantages START */
.advantages{
    display: grid;
    gap: 50px;
    padding: 60px 0;
}
.advantages__block{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
}
.advantages__block-image{
    width: 100%;
}
.advantages__block-image img{
    width: 100%;
}
.advantages__block-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.advantages__block-info h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 55px;
}
/* Advantages END */

/* Met Our Team START */
.met-our-team{
    padding: 60px 0;
}
.met-our-team__content h2{
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    margin-bottom: 30px;
}
.met-our-team__content p{
    text-align: center;
    margin-bottom: 40px;
}
.met-our-team__wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.met-our-team__card{
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
    padding: 30px 23px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.met-our-team__image{
    border-radius: 50%;
    overflow: hidden;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.met-our-team__image img{
    width: 110%;
    height: 110%;
    object-fit: contain;
}
.met-our-team__title{
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
}
.met-our-team__social ul{
    display: flex;
    gap: 12px;
}
.met-our-team__social ul li{
    width: 18px;
    height: 18px;
}
.met-our-team__social ul li img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* Met Our Team END */

/* Subscribe END */

.subscribe{
    padding: 60px 0;
}
.subscribe__block{
    padding: 50px 155px 38px;
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.0145) 0%, rgba(255, 255, 255, 0.02) 100%);
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
}
.subscribe h2{
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    margin-bottom: 13px;
}
.subscribe p{
    margin-bottom: 29px;
    text-align: center;
}
.subscribe__form {
    display: flex;
}
.subscribe__form .success {
    width: 15px;
    height: 25px;
    object-fit: cover;
}
.subscribe__form input{
    padding: 25px 44px;
    width: 100%;
    border-radius: 70px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    background: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);
    box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
    color: #fff;
}
.subscribe__form input::placeholder{
    color: rgba(255, 255, 255, 0.9);
}
.subscribe__form button{
    padding: 15px 30px;
    border-radius: 70px;
    margin-left: -210px;
    width: 200px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* Subscribe END */


/* FOOTER END */

.footer{

}
.footer__row{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 30px;
}
.footer__block{

}
.footer__block ul{
    display: grid;
    gap: 10px;
}
.footer__block a{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    gap: 7px;
    align-items: center;
}
.footer__block h3{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
}
.footer__block ul.footer__social{
    margin-top: 15px;
    display: flex;
    gap: 15px;
}
.footer__copyright{
    border-top: 1px solid #969696;
    margin-top: 32px;
}
.footer__copyright-row{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}
.footer__copyright-row ul{
    display: flex;
    gap: 50px;
    color: #fff;
}
.footer__copyright-row ul a{
    color: rgba(255, 255, 255, 0.8);
}

/* FOOTER END */
=======
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;500;700&family=Playfair+Display+SC:wght@400;700;900&family=Prompt:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: 0;
    text-decoration: none;
    outline: none;
    font-family: Montserrat;
}

body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
.header {
    background: linear-gradient(to right, #f9bb88 37%, #f4f4f4 37%);
    position: relative;
}
.container {
    max-width: 1300px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 40px;
    align-items: center;
}
.header__logo {
    display: flex;
    gap: 20px;
}
.header__nav ul {
    display: flex;
    gap: 37px;
    color: #202020;
}
.header__nav ul li a {
    color: #202020;
    text-align: center;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 140%;
    transition: 300ms;
}
.btns p {
    color: #202020;
    text-align: right;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.btn-white {
    border-radius: 2px;
    background: #f4f4f4;
    padding: 15px 53px;
    transition: 300ms;
    color: #202020;
}
.btn-white:hover {
    background: #ff9646;
}
.btn-orange {
    border-radius: 2px;
    background: #ff9646;
    padding: 11px 18px;
    transition: 300ms;
    color: #f4f4f4;
}
.btn-orange:hover {
    border-radius: 2px;
    background: #202020;
}

.first__screen {
    background: linear-gradient(to right, #f9bb88 37%, #f4f4f4 37%);
    padding-top: 20px;
}
.first__screen-info span {
    color: #ff9646;
    font-size: 12px;
    font-family: Montserrat;
    line-height: 140%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
.first__screen-info h1 {
    color: #202020;
    font-size: 45px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.9px;
    margin-bottom: 68px;
}
.first__screen-info p {
    color: #202020;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 160%;
    margin-bottom: 40px;
}
.first__screen-info a {
    padding: 15px 53px;
}
.first__screen-content {
    position: relative;
    display: flex;
    gap: 102px;
    padding-bottom: 120px;
}
.first__screen-image {
    margin-left: -1.6%;
}
.first__screen-pay {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: #202020;
    width: 472px;
    height: 220px;
    align-items: center;
    bottom: -95px;
    right: 34%;
}
.first__screen-pay p {
    color: #f4f4f4;
    font-size: 23px;
    font-family: Montserrat;
    line-height: 140%;
    margin-top: 40px;
    margin-bottom: 26px;
}
.first__screen-pay .btn-white {
    color: #202020;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}
.line button {
    position: absolute;
    width: 517px;
    height: 3px;
    background: #f9bb88;
    top: 33%;
    left: 670px;
}
.lesenka__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.lesenka__box-1 {
    border: 2px solid #f4f4f4;
    background: #fff;
    display: flex;
    gap: 30px;
    position: relative;
    width: 407px;
    height: 234px;
    align-items: center;
    padding: 0 26px;
}
.lesenka__box-line {
    position: absolute;
    width: 21px;
    height: 80px;
    background: #f9bb88c3;
    top: 73px;
    left: 20px;
}
.lesenka__box-info h3 {
    color: #202020;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 8px;
}
.lesenka__box-info p {
    color: #202020;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 170%;
    display: flex;
    width: 241px;
    flex-direction: column;
    flex-shrink: 0;
}

.element-lesenka-1 {
    position: absolute;
    left: 0;
    bottom: -50px;
}
.element-lesenka-2 {
    position: absolute;
    right: 0;
    top: -50px;
}
.stair {
    margin-top: 125px;
}
.slider {
    width: 1205px;
    height: 538px;
    display: flex;
    overflow: hidden;
}
.stair__slider {
    display: flex;
    position: relative;
    height: 538px;
    width: 2410px;
    left: 0;
    transition: all ease 1s;
}
.stair__slider-line {
    display: flex;
    gap: 30px;
}
.stair__line {
    position: absolute;
    width: 120px;
    height: 18px;
    background: #f9bb8896;
    top: 25px;
    left: -40px;
}
.stair h2 {
    color: #202020;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
}
.slider-line-box img {
}
.slider-line-box-info {
    background: #f4f4f4;
    width: 382px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.slider-line-box-info h3 {
    margin-top: 20px;
    margin-bottom: 18px;
    color: #202020;
    text-align: center;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 160%;
}
.slider-line-box-info p {
    margin-bottom: 20px;
    color: #202020;
    text-align: right;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 140%;
}
.slider-line-box-info p strong {
    color: #202020;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}
.stair-title {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.slider-btn {
    display: flex;
    align-items: center;
}
.slider-btn p {
    font-size: 30px;
}
.slider-next {
    background: white;
    color: #202020;
    font-size: 30px;
    margin-left: 30px;
}
.slider-next:hover {
    color: #ff9646;
}
.slider-prev {
    background: white;
    color: #202020;
    font-size: 30px;
    margin-right: 30px;
}
.slider-prev:hover {
    color: #ff9646;
}
.application {
    background: #f4f4f4;
    margin: 120px 0;
}
.application__content {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}
.application__home {
    display: flex;
}
.application__title p {
    margin-bottom: 74px;
    color: rgba(75, 75, 75, 0.75);
    font-size: 14px;
    font-family: Montserrat;
    line-height: 160%;
}
.application__title h2 {
    color: #202020;
    text-align: center;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 120%;
    padding-top: 70px;
    margin-bottom: 30px;
}
.application__home {
    margin-bottom: 60px;
    display: flex;
    gap: 82px;
}
.application__form-group {
    position: relative;
    gap: 82px;
}
.form__label {
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: -1; */
    color: #202020;
    transition: 0.3s;
}
.form__input {
    width: 100%;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid rgba(32, 32, 32, 0.4);
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}
.application-btns {
    display: flex;
    text-align: left;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
.application-btns .btn-orange {
    padding: 15px 54px;
}
.application-btns span {
    color: rgba(32, 32, 32, 0.4);
    font-size: 13px;
    font-family: Montserrat;
}
.form__input:focus {
    border-bottom: 1px solid #ff9646;
}
.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    top: -18px;
    font-size: 12px;
    color: #ff9646;
}

.apply__content {
    position: relative;
    margin-bottom: 111px;
}
.apply-element-orange {
    position: absolute;
    top: -70px;
    right: 0;
}
.apply__content {
    position: relative;
}
.apply__line {
    position: absolute;
    width: 120px;
    height: 18px;
    background: #f9bb8896;
    top: 70px;
    left: -25px;
}
.apply__content-interior {
    display: flex;
    justify-content: space-between;
}
.apply__content h2 {
    color: #202020;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
}
.apply__content-interior-embody h3 {
    color: #202020;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 30px;
}
.apply__content-interior-embody p {
    color: #202020;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 160%;
    display: flex;
    width: 386px;
    height: 296px;
}

.apply__content-interior-specialization h3 {
    color: #202020;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 36px;
}
.apply__content-interior-specialization {
    position: relative;
}
.apply__content-interior-specialization li {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
    color: #202020;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 140%;
}
.apply__content-interior-image {
    transform: rotate(1.924deg);
}
.specialization-1 {
    position: absolute;
    width: 21px;
    height: 80px;
    top: 115px;
    left: -5px;
    background: #f9bb8896;
}
.specialization-2 {
    position: absolute;
    width: 21px;
    height: 80px;
    top: 230px;
    left: -5px;
    background: #f9bb8896;
}

.specialization-3 {
    position: absolute;
    width: 21px;
    height: 80px;
    top: 335px;
    left: -5px;
    background: #f9bb8896;
}
.examples {
    background: linear-gradient(to left, #f9bb88 36%, #f4f4f4 36%);
}
.examples__content {
    display: flex;
    padding-top: 110px;
    justify-content: space-around;
}
.examples__content-info {
    position: relative;
}
.examples__content-info h2 {
    color: #202020;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
}
.examples__content-info p {
    margin-bottom: 30px;
    color: #202020;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 160%;
}
.examples__content-info span {
    color: rgba(32, 32, 32, 0.7);
    font-size: 14px;
    font-family: Montserrat;
    line-height: 210%;
}
.examples__slider {
    width: 490px;
    height: 630px;
    overflow: hidden;
}
.slider__line {
    height: 630px;
    width: 1470px;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider__btns {
    width: 277px;
    height: 191px;
    flex-shrink: 0;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__btns p {
    color: #f4f4f4;
    font-size: 30px;
}
.slider__btns button {
    background: none;
    color: #f4f4f4;
}
.examples__slider-next {
    background: white;
    color: #202020;
    font-size: 30px;
    margin-left: 30px;
}
.examples__slider-next:hover {
    color: #ff9646;
}
.examples__slider-prev {
    background: white;
    color: #202020;
    font-size: 30px;
    margin-right: 30px;
}
.examples__slider-prev:hover {
    color: #ff9646;
}
.examples__line {
    position: absolute;
    width: 120px;
    height: 18px;
    background: #f9bb8896;
    top: 70px;
    left: -40px;
}
.content__examples {
    position: absolute;
    bottom: 365px;
    right: -159px;
}
.monolithic {
    position: relative;
}
.monolithic h2 {
    margin-top: 110px;
    color: #202020;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 120%;
}
.monolithic__line {
    position: absolute;
    width: 120px;
    height: 18px;
    background: #f9bb8896;
    top: 70px;
    left: 280px;
}
.monolithic__content {
    display: flex;
    gap: 100px;
    margin-bottom: 110px;
}
.monolithic__content-info h4 {
    color: #202020;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 140%;
}
.monolithic__content-info p {
    margin-bottom: 37px;
    color: #202020;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 140%;
}
.monolithic__content-info {
    margin-top: 46px;
}
.monolithic__content-img {
    margin-top: 60px;
}
.works {
    background: linear-gradient(to left, #f9bb88 36%, #f4f4f4 36%);
}
.works__content-boxs {
    display: flex;
}
.works__content {
    position: relative;
}
.works__content h2 {
    padding: 110px 0 40px;
    color: #202020;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 120%;
}
.works__content-box {
    display: flex;
    border: 2px solid #f4f4f4;
    background: #fff;
    align-items: center;
    justify-content: center;
    gap: 27px;
    margin-bottom: 130px;
}
.works__content-box {
    width: 305px;
    height: 234px;
    flex-shrink: 0;
}
.works__content-box-number {
    position: relative;
    color: #202020;
    font-size: 36px;
    font-family: Montserrat;
    line-height: 140%;
}
.works__content-box-info h4 {
    color: #202020;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 8px;
}
.works__content-box-info p {
    color: #202020;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 170%;
}
.box-number__line {
    position: absolute;
    width: 21px;
    height: 80px;
    background: #f9bb8896;
    top: 0;
    left: 0;
    top: -15px;
    left: -5px;
}
.works__content-line {
    position: absolute;
    width: 120px;
    height: 18px;
    flex-shrink: 0;
    background: #f9bb8896;
    top: 176px;
    left: -25px;
}
.questions__content {
    display: flex;
    gap: 134px;
    margin-top: 110px;
    align-items: center;
}
.questions__content-info .application__form h2 {
    text-align: left;
}
.questions__content-info .application__form p {
    text-align: left;
}
.questions__content-info .application__form .application__home {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.application-btns {
    margin-bottom: 80px;
}
.questions__content-info .application__form .application__home .application-btns span {
    color: rgba(32, 32, 32, 0.4);
    text-align: center;
    font-size: 13px;
    font-family: Montserrat;
}
.questions__content-map {
    border: 8px solid #fde4cf;
}
.questions__content-info .application-btns .btn-orange {
    padding: 15px 54px;
    text-align: center;
    font-size: 12 px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 140%;
}
.questions__content-info .application-btns {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.footer {
    background: #f4f4f4;
}
.footer__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.footer__logo p {
    margin-top: 10px;
    color: #f98c37;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 3.78px;
    text-transform: uppercase;
}
.footer__nav ul {
    display: flex;
    gap: 30px;
}
.footer__nav ul li a {
    color: #202020;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 140%;
    transition: 300ms;
}
.footer__nav ul li a:hover {
    color: #f98c37;
}

.header__nav ul li a:hover {
    color: #f98c37;
}
.footer__btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer__btns span a {
    color: #202020;
    text-align: right;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 120%;
    text-transform: uppercase;
}

.header_line-company {
    width: 1300px;
    height: 3px;
    background: #f98c37;
    position: absolute;
    bottom: -26px;
    left: 16%;
}
.company__first-screen {
    background: linear-gradient(to right, #f9bb88 37%, #f4f4f4 37%);
}
.company__content {
    padding-top: 44px;
}

.company__content-title {
    display: flex;
    justify-content: space-between;
}
.company__content-title a {
    color: #202020;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 140%;
}

.company__content-info {
    display: flex;
    gap: 85px;
    margin-top: 40px;
    padding-bottom: 164px;
}
.company__content-info-element {
    display: flex;
    gap: 85px;
}
.company__content-dream h2 {
    color: #202020;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 30px;
}
.company__content-dream p {
    color: #202020;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 160%;
}
.company__content-works h2 {
    color: #202020;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 43px;
}
.company__content-works-boxs {
    display: flex;
    margin-bottom: 61px;
    gap: 21px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.company__content-works-boxs-two {
    display: flex;
    margin-bottom: 61px;
    gap: 21px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.company__content-works-boxs-two span {
    color: #202020;
    text-align: center;
    font-size: 18px;
    font-family: Montserrat;
    line-height: 90%;
    text-transform: uppercase;
}
.company__content-works-boxs span {
    color: #202020;
    text-align: center;
    font-size: 2 6px;
    font-family: Montserrat;
    line-height: 90%;
    text-transform: uppercase;
}
.company__box {
    position: relative;
}
.company__box-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -101px;
    left: 0;
}
.basic__content {
    margin-top: 284px;
}
.basic__content h2 {
    color: #202020;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
}
.basic__content-info {
    display: flex;
    justify-content: space-between;
}
.basic__content-info-title {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.basic__content-info-title h4 {
    color: #4b4b4b;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 160%;
}
.basic__content-info-title p {
    color: #4b4b4b;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 160%;
}
.feedback {
    background: linear-gradient(to left, #f9bb88 37%, #f4f4f4 37%);
    margin-top: -120px;
}
.feedback__content {
    padding: 110px 0 130px;
    position: relative;
}
.feedback__content h2 {
    color: #202020;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
}
.feedback__content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #f4f4f4;
    background: #fff;
    padding: 60px 0 70px;
    width: 902px;
    height: 355px;
    margin: 0 auto;
    gap: 40px;
}
.feedback__content-box-info h4 {
    color: #202020;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 4px;
}
.feedback__content-box-info span {
    color: rgba(32, 32, 32, 0.4);
    font-size: 15px;
    font-family: Montserrat;
    line-height: 160%;
}
.feedback__content-box-info p {
    color: #202020;
    font-size: 14px;
    font-family: Montserrat;
    line-height: 170%;
    margin-top: 15px;
}
.feedback__line {
    position: absolute;
    width: 120px;
    height: 18px;
    background: #f9bb8896;
    top: 176px;
    left: -40px;
}
.feedback__element {
    position: absolute;
    bottom: 80px;
    left: 50px;
}
.company__content h1 {
    margin-top: 30px;
    color: #202020;
    font-size: 36px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 120%;
}
.company__content-photos {
    margin-bottom: 125px;
    margin-top: 40px;
}

.contact__content-map{
    
}
.contact__content-map iframe {
    
    width: 1285px;
    height: 570px;
    flex-shrink: 0;
    margin-top: 40px;
}
>>>>>>> 6877d6307f625fac8d709bb7dc1ce7f723779e56

